html{
    background: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    fill: #ffffff;   
}
header{
    position: absolute;
    display: block;
    color: white;
    font-size: 3em;
    margin: 84px 0px 0px 595px;
}
.chart_container {
        font-family: Arial, Helvetica, sans-serif;
        position:relative;
        display: inline-block;
        width: 55%;
        top: 11em;
        margin: 0px 0px 0px 202px;
        
}
.chart{
    position: relative;
    margin: 0 auto;

}
#y_axis {
        position: absolute;
        height: 520px;
        margin: 0px 0px 0px -301px;

}
#x_axis{
    position:absolute;
    margin: 0px 0px 0px -27px;
}
.rickshaw_graph .y_ticks text, .rickshaw_graph .x_ticks_d3 text{
    font-size: 18px;

}
#legend {
    display: inline-block;
    margin: 0 0 0 45px;
    position: relative;
    padding: 10px 10px 10px 10px;
    vertical-align: -webkit-baseline-middle;
}
.x_grid_d3{
    padding: 0px 13px 0px 0px;
}
.rickshaw_graph .rect {
    margin-left: 10px;
}
.rickshaw_graph .tick {
    stroke: rgba(255, 255, 255, 0.5) !important;
}